@media screen and (orientation: portrait) {
  body {
    background: linear-gradient(to top, #6d0a6d 0%, #b5179e 50%, #f72585 100%);
  }

  .header {
    font-size: 1.4rem;
    margin: 1rem 0;
  }

  .fa-paintbrush {
    font-size: 2.4rem;
  }

  .main {
    flex-direction: column;
  }

  .grid {
    height: 85vmin;
    width: 85vmin;
  }

  .settings {
    width: 85vmin;
    height: auto;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.6rem 0;
  }

  .grid-settings-title {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .grid-settings,
  .paint-settings {
    margin: 0;
    padding: 0;
  }

  .grid-buttons {
    display: flex;
    justify-content: space-between;
  }

  .grid-buttons > a {
    padding: 0.6rem 1.2rem;
  }

  .paint-settings {
    margin-top: -1.2rem;
  }

  .colors {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.4rem;
  }

  .colors > a:not(:last-child) {
    margin-bottom: 0rem;
  }

  .github {
    display: none;
  }
}
